

 /* *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.home {
    height: 100vh;
    position: relative;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-content {
    position: relative;
    padding-top: 150px;
    color: #fff;
    text-align: center;
}*/

iframe {
    width: 100%;
    height: 100vh;
    background-color: aqua;
} 


/* #video-container{
    background-color: aqua;
} */


body {
    background-color: black;

}